*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

main{
    height: 100%;
    background-image: url(images/road.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0
}

#overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, #f35a54, rgba(255,50,50,.8));
    z-index:1
}

.conteudo{
}

.logo{
    text-align: center;
    margin-top: 150px;
}

.logo h1{
    font-weight: lighter;
    color: white;
    font-size: 36px;
    font-family: calibri;
    margin-bottom: 200px;
}

.btn-signup{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border-radius: 25px;
    padding: 10px;
    width:100%;
    max-width: 250px;
    font-size: 14px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-login{
    width:100%;
    max-width: 250px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: lightcoral;
    background: white;
    border-radius: 25px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
}

.buttons{
    width: 300px;
    text-align: center;
    margin: 0 auto;
}